include ../tooltip/tooltip.pug

mixin user-profile(name, profession, imagePath, theme, mix)
  .user-profile.js-user-profile(class=mix || '')
    img.user-photo(src=imagePath alt=name + ' photo')
    +tooltip(theme, 'user-profile__tooltip js-user-profile__tooltip', 'user-profile__tooltip-pointer')
      - const profileNameTheme = 'user-profile__name_theme_' + theme
      - const profileProfessionTheme = 'user-profile__name_theme_' + theme
      - const profileReferenceTheme = 'user-profile__reference_theme_' + theme
      .user-profile__name(class=profileNameTheme)= name
      .user-profile__profession(class=profileProfessionTheme)= profession
      .user-profile__contacts
        a.fa.fa-facebook.user-profile__reference(class=profileReferenceTheme, href=attributes.facebook || "")
        a.fa.fa-twitter.user-profile__reference(class=profileReferenceTheme, href=attributes.twitter || "")
        a.fa.fa-dribbble.user-profile__reference(class=profileReferenceTheme, href=attributes.dribbble || "")

